[tool.poetry]
name = "databases-with-python"
version = "0.1.0"
description = "Exemplo de CRUD (Create, Read, Update e Delete) com a linguagem de programação Python e os principais bancos de dados do mercado."
authors = ["Renato Cruz <zkpcvm6dz@mozmail.com>"]

license = "MIT"
readme = "README.md"
homepage = "https://github.com/natorsc/databases-with-python"
repository = "https://github.com/natorsc/databases-with-python"
documentation = "https://databases.justcode.com.br/"
keywords = ["python", "databases", "mysql", "postgresql", "mariadb", "sqlite", "mongodb", "redis"]

classifiers = [
    "Topic :: Database",
    "Operating System :: Microsoft",
    "Operating System :: Microsoft :: Windows :: Windows 10",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
]

[tool.poetry.dependencies]
python = "^3.10"
mysql-connector-python = "^8.0.28"
mongoengine = "^0.24.1"
pymongo = "^4.1.1"
pyodbc = "^4.0.32"
redis = "^4.4.4"
SQLAlchemy = "^1.4.35"
psycopg = {extras = ["binary"], version = "^3.0.11"}

[tool.poetry.group.dev.dependencies]
pylint = "^2.13.0"
autopep8 = "^1.6.0"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/natorsc/databases-with-python/issues"
"Blog" = "https://blog.justcode.com.br/"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
